
.Navbar {
    border: 1px solid black;
    height: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: space-around;
    background-color: aqua;
}
.links{
margin-top: 0px;
display: flex;
list-style: none;
gap: 50px;
}
 
 