.tabella {
    position: relative;
    border: 0px solid black;
    width: 408px;
    height: 408px;
    margin: auto;
    display:  flex;
    flex-wrap: wrap;
     
    }
 .selezionato {
border: 1px solid black;
width: 30px;
height: 30px;
margin:auto;
margin-top : 20px
 }
 